* {
  box-sizing: border-box;
}

h1 {
  color: blue;
  margin-left: 2px;
}

.add-bookmark {
  margin-left: 2px;
}

#js-add-bookmark-form {
  display: none;
  margin-top: 25px;
  background-color: cornflowerblue;
  padding-top: 20px;
}

.text-input {
  display: inline-block;
}

input[type="text"] {
  width: 150px;
  margin-bottom: 10px;
}

.rating {
  display: inline-block;
  padding-left: 20px;
}

.minRating {
  margin-left: 20px;
}