* {
  box-sizing: border-box;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.col-3, .col-4, .col-6, .col-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-3, .col-4, .col-6, .col-12 {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.333333%;
  }

  .col-6 {
    width: 50%;
  }

  .col-12 {
    width: 100%;
  }
}



h1 {
  color: cornflowerblue;
  text-align: center;
}

.add-bookmark {
  font-size: 20px;
}


#js-add-bookmark-form {
  display: none;
  margin-top: 25px;
  background-color: cornflowerblue;
  padding-top: 20px;
}

.text-input {
  display: inline-block;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
}

.rating {
  display: inline-block;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 13px; 
  color: yellow;
  font-size: 20px;
}

.minRating {
  height: 29px;
  padding-left: 50px;
  font-size: 20px;
}

.delete-bookmark {
  font-size: 15px;
  margin-left: 60px;
  align-items: right;
}

.error-container {
  background-color: red;
  color: white;
  font-size: 1.5em;
}

.bookmark-list {
  margin-top: 100px;
  background-color: cornflowerblue;
  padding-top: 10px;
}

.title-bar {
  font-size: 30px;
}

.details-card {
  font-size: 20px;
  color: white;
}

